#top-bar {
  background: lightgrey;
  height: 89px;
  display: flex;
}

.logo {
  align-content: center;
  padding-left: 10px;
  padding-top: 9px;
  height: 72px;
  width: 100px;
}

#top-bar > h1 {
  margin: 0;
  padding-left: 5px;
  padding-top: 27px;
  font-size: 35px;
}
