.login1 {
  width: 300px;
  }


.loginbutton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.logheading {
  text-align: center;
  padding-top: 10px;
  color: lightgray;
  text-shadow: 2px 2px black;
}

.submitbutton {
  padding-left: 40%;
  padding-top: 10px;
  text-shadow: 2px 2px black;
}

#unem {
  font-size: 15px;
  padding-left: 10px;
  color: lightgray;
  text-shadow: 2px 2px black;
}

#pw {
  font-size: 15px;
  padding-left: 10px;
  color: lightgray;
}